.article-description {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.article-description .header {
    flex: 1;
}

.article-description .details {
    flex: 2;
}

.article-description img {
    width: 500px;
}

.article-description .keywords-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}