.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.articles-container h1 {
  /* width: fit-content; */
  padding: 0 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
.select-container {
  padding: 0 15px;
}
.select-container label {
  font-size: 25px;
  font-weight: 600;
}

.days-select {
  width: 100px;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 18px;
}

.articles {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  border: 0.5px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.article .content {
  flex: 1;
}

.article img {
  width: 440px;
  max-width: 100%;
  cursor: pointer;
}

.article .details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
